*
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

nav
{
  margin: 0px;
  position: fixed;
  float: right;
  color: #fff;
}

ul
{
  list-style-type:none;
  margin: 15px 20px 15px 20px;
  padding:0;
  overflow:hidden;
  float:right;
}

li
{
  float:left;
}

a:link,a:visited
{
  display:block;
  width: auto;
  /* color:#FFFFFF; */
  text-align:center;
  padding: 12px 30px 12px 30px;
  text-decoration:none;
  text-transform:uppercase;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  opacity: 1; !important
}

.page-container
{
  ​  margin: 0px auto;
    padding: 0px 0px 0px 0px;
    width:100%;
}

.grid
{
  overflow: hidden;
  width: 90%;
  padding: 20px 0px 0px 20px;
  margin: 0px auto;
}

.shade
{
  float:left;
  position:inherit;
  background-color: #000;
  opacity: .5;
  height: auto;
  width: 100%;
  z-index: -1;
}
